extends layout

block subhead
  script.
    $(function() {
        $('#search').on('keyup', function(e) {
            if (e.keyCode === 13) {
                var parameters = {
                    search: $(this).val()
                };
                $.get('/searching', parameters, function(data) {
                    $('#results').html(data);
                });
            };
        });
    });

block content
  input#search(type="search", placeholder="Search")
  h2#results
