extends layout

block subhead
  script(src='/js/main.js')


block content
    div#map-toolbar
        label Total Route:
        span#map-total-route
        
        label(style="padding-left: 30px") Miles So Far:
        span#map-so-far
        
        label(style="padding-left: 30px") Miles To Go:
        span#map-to-go
    div#map-container
        div#map-canvas
    div#map-details.clearfix
        div.map-part
            div
                label.title Data Points:
            table#map-miles
                thead
                    tr
                        th
                            label Date
                        th
                            label Miles
                tbody
        div.map-part
            div
                label.title Add Point:
            div.edit-line
                label Date:
                input#map-add-date
                script.
                    $(function() {
                        $("#map-add-date").datepicker();
                    });
            div.edit-line
                label Miles:
                input#map-add-miles
            div.edit-line
                button#map-add-button(type="button") Add
